@charset "utf-8";

html {
    height: 100%;
    font-size: 16px;
}

body {
    height: 100%;
    font-size: 1rem;
    color: #222;
}

/* ヘッダー */
#head {
    position: relative;
    background: #186AC9;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

h1.head_title img {
    box-sizing: border-box;
    width: 135px;
    padding: 20px 20px;
}

#headContainer {
    margin: 0 0 0 auto;
}

#headContent {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0 20px 0 20px;
}

p.login_user {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding-right: 30px;
}

.head_user_icon img {
    width: 50px;
    height: 50px;
}


/* アコーディオンメニュー */
button.accordion_btn {
    width: 40px;
    height: 40px;
    position: relative;
    border: none;
    background: none;
    outline: none;
}

.line {
    display: block;
    width: 16px;
    height: 16px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(135deg);
    position: absolute;
    top: 4px;
    left: 8px
}

.line.open {
    transform: rotate(-45deg);
    top: 12px;
}

.accordion_content {
    display: none;
    z-index: 20;
}

.accordion_content.open {
    display: block;
    position: absolute;
    top: 63px;
    right: 0;
}

.accordion_items {
    background-color: #fff;
    border: 2px solid #042C7C;
    text-align: center;
}

.accordion_text a {
    display: block;
    font-size: 18px;
    color: #848484;
    padding: 25px 55px;
}

.accordion_text a:hover {
    color: #fff;
    background-color: #042C7C;
}

/* main content */
#row {
    display: flex;
    flex-flow: row wrap;
}

#container {
    flex: 0 0 80%;
}

/* 投稿フォーム */
.post_form {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    position: relative;
    padding-bottom: 20px;
    border-bottom: solid 7px #E0E0E0;
    z-index: 10;
}

.post_user_icon {
    display: block;
    margin: 30px 0 0 50px;
}

.post_user_icon img {
    width: 50px;
    height: 50px;
}

.post_form_contents {
    display: flex;
}

.new_post_content {
    border: none;
    resize: none;
    width: 600px;
    height: 60px;
    margin: 40px 0 0 10px;
}

.post_btn {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    margin: 70px 0 0 70px;
    border: none;
}

/* 投稿一覧 */
.post_contents ul {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #222;
}

/* 左端のまとまり */
.left_post_content {
    width: 15%;
    padding: 15px 0px 15px 100px;
}

/* 投稿者アイコン */
.post_icon img {
    width: 50px;
    height: 50px;
}

/* 中心のまとまり */
.center_post_content {
    width: 65%;
    padding: 20px 20px 15px 15px;
}

/* つぶやき内容 */
.new_post {
    padding-top: 10px;
}

/* 右端のまとまり */
.right_post_content {
    width: 20%;
    padding: 15px 0 15px 0;
    text-align: left;
}

/* ボタンのまとまり */
.btn_post_content {
    display: flex;
    position: relative;
    width: 45%;
    margin: 40px 0 0 80px;
}

/* 編集ボタン */
.update_btn img {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

/* 編集モーダルの中身 */
.modal {
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}

.modal__bg {
    background: rgba(0, 0, 0, 0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
}

.modal__content {
    background: #fff;
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 50%;
    border-radius: 10px;
    display: block;
    text-align: center;
}

.modal_form {
    width: 100%;
    height: 100%;
}

.modal_post {
    resize: none;
    width: 100%;
    height: 75%;
}

.update_proceed_btn {
    width: 40px;
    height: 40px;
    border: none;
    margin: 10px 0 10px 0;
}

/* 削除ボタン */
.delete_btn img {
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    top: 20px;
    bottom: 0;
    left: 71px;
    right: 0;
}

.delete_btn:hover img:nth-of-type(2) {
    opacity: 0;
}


/* サイドバー */
#sideBar {
    flex: 0 0 19%;
    border-left: 1px solid #727272;
    min-height: 100vh;
}

/* ボタン色調節 */
.btn-primary {
    background: #125ACC;
    color: #fff;
}

a.btn-text:visited:not(.btn) {
    color: #fff;
}

/* 検索フォーム */
.search_content {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    border-bottom: solid 7px #E0E0E0;
    z-index: 10;
}

.search_form {
    width: 50%;
    display: flex;
    margin: 45px auto 45px 50px;
}

.search_text {
    width: 50%;
    height: 40px;
    border: solid 2px #A0A0A0;
    border-radius: 5px;
    margin-right: 15px;

}

.search_btn {
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

/* 検索ワード */
p.keyword {
    width: 40%;
    font-size: 18px;
    font-weight: 500;
    margin: 0 auto;
}

/* ユーザー一覧 */
.user_contents ul {
    display: flex;
}

/* ボタン色調節 */
.btn-info {
    color: #fff;
}

.btn-info:visited:not(.btn) {
    color: #fff;
}
